// compileCompressed: false
@charset "utf-8";
@import "variable";

.bs-l {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.b-w {
    background: #FFF;
}
.p-xl {
    padding: 30px;
}
.mb-l {
    margin-bottom: 20px;
}
.mt-l {
    margin-top: 20px;
}
.post-readme {
    color: #666;
}
.wx250 {
    width: 250px;
}
.wx600 {
    width: 600px;
}
.wx578 {
    width: 578px;
}
.f-r {
    float:right;
}
.f-l{
	float:left;
}

.p-m {
    padding: 10px;
}
.b-f-g {
    border: 1px solid #ccc;
}
.b-lg {
    background: #f9f9f9;
}
.c-lg, a.c-lg {
    color: #999;
}

.mb-m {
    margin-bottom: 10px;
}
.mt-r1 {
    margin-top: -1px;
}
.br-s {
    border-radius: 2px;
}
.bs-l {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.b-g {
    background: #7BB03E;
}
.bsi-l {
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
}
.fs-s {
    font-size: 14px;
    line-height: 18px;
}
.p-xl {
    padding: 30px;
}
.ptb-m {
    padding-top: 10px;
    padding-bottom: 10px;
}
.c-w, .fcdb a:hover, a.c-w, a:hover.c-w {
    color: #fff;
}
.mt-r3 {
    margin-top: -3px;
}
.br-s {
    border-radius: 2px;
}
.bs-l {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.b-g {
    background: #7BB03E;
}
