@charset "utf-8";

/*color*/
$header-bacg-color    :     #1fa67a;
$nav-color     :     #7A4624;
$body-bacg-color     :     #f7f7f7;

$nav-a-color	: #fff;

/* width&height*/
$header-height     :     82px;
$main-width     :     70%;
$min-width     :     960px;
$author-img-width     :     35px;
$author-img-height    :     35px;
